body
{
    background: #f5f7fa;
    color: #333;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;

}
#cabecera
{
     background: linear-gradient(90deg, #4e54c8, #8f94fb);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
#logo {
    height: 60px;
}

#cabecera #tagline
{
     font-size: 18px;
    font-weight: normal;
    opacity: 0.8;
    margin-left: auto;
}

#container
{
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#container h1
{
    font-size: 35px;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.8cm;
}
